@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-kavoon: "Kavoon", serif;

  --font-sans: var(--font-inter);
  --font-heading: var(--font-kavoon);

  --color-primary: #82E0AA;
  --color-bold: #2ECC71;
  --color-secondary: #00D4FF;

  --color-logo: var(--color-primary);
}

html,
body {
  width: 100%;
  background-color: #1A1A1B;
  color: #F4F4F4;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility flex-between {
  @apply flex justify-between items-center;
}

@utility col-center {
  @apply flex flex-col justify-center items-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility text-gradient {
  background: linear-gradient(to right, #82E0AA, #00D4FF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@utility radial-gradient {
  background: radial-gradient(circle at center,
      #434343 0%,
      #000 50%,
      transparent 100%);
}

@utility green-btn{
  @apply bg-bold text-xs text-nowrap text-black rounded-lg p-2 flex-1 py-2 text-center;
}

@utility black-btn{
  @apply flex-1 bg-black text-white py-2 rounded-lg text-xs text-center
}

@layer base {
  html {
    @apply font-sans;
  }

  main {
    @apply w-full overflow-x-hidden;
  }

  section {
    @apply px-20 py-22.5 col-center
  }
}